/.settings/
/.project
.*.swp
/servers/.classCache
/servers/.pid
/servers/*/apps
/servers/*/lib
/servers/*/logs
/servers/*/workarea
/servers/*/configDropins/overrides
/servers/*/resources
/build/
/target
/servers/gameon-map/defaultServer
