<server description="Game On! Map Service">

    <!-- Enable features -->
    <featureManager>
        <feature>localConnector-1.0</feature>
        <feature>jaxrs-2.0</feature>
        <feature>cdi-1.2</feature>
        <feature>ssl-1.0</feature>
        <feature>concurrent-1.0</feature>
    </featureManager>

    <httpEndpoint host="*" httpPort="9080" httpsPort="9443" id="defaultHttpEndpoint">
        <accessLogging filepath="${server.output.dir}/logs/http_defaultEndpoint_access.log" logFormat="%h %u %t &quot;%r&quot; %s %b %D %{User-agent}i">
        </accessLogging>
    </httpEndpoint>

    <keyStore id="defaultKeyStore" location="key.jks"  password="testOnlyKeystore"/>
    <keyStore id="defaultTrustStore" location="truststore.jks" password="truststore"/>

    <sslDefault sslRef="DefaultSSLSettings"/>
    <ssl id="DefaultSSLSettings" keyStoreRef="defaultKeyStore" trustStoreRef="defaultTrustStore"/>

    <!-- Signed JWT keystore info -->
    <jndiEntry jndiName="jwtKeyStore" value="${server.config.dir}/resources/security/key.jks"/>
    <jndiEntry jndiName="jwtKeyStorePassword" value="testOnlyKeystore"/>
    <jndiEntry jndiName="jwtKeyStoreAlias" value="default"/>

    <jndiEntry jndiName="playerUrl" value="${env.PLAYER_SERVICE_URL}"/>

    <!-- This is our private backend room registration key, only used for recroom/nodejs etc -->
    <jndiEntry jndiName="registrationSecret" value="${env.MAP_KEY}"/>

    <!-- The id we recognise as the system id. -->
    <jndiEntry jndiName="systemId" value="${env.SYSTEM_ID}"/>

    <!-- Sweep registration information -->
    <jndiEntry jndiName="sweepId" value="${env.SWEEP_ID}"/>
    <jndiEntry jndiName="sweepSecret" value="${env.SWEEP_SECRET}"/>

    <jndiEntry jndiName="serverName" value="${wlp.server.name}"/>
    <jndiEntry jndiName="serverOutputDir" value="${server.output.dir}"/>

    <jndiEntry jndiName="kafkaUrl" value="${env.KAFKA_SERVICE_URL}"/>

    <!-- CouchDB -->
    <jndiEntry jndiName="couchdb/username" value="${env.COUCHDB_USER}"/>
    <jndiEntry jndiName="couchdb/password" value="${env.COUCHDB_PASSWORD}"/>
    <jndiEntry jndiName="couchdb/url" value="${env.COUCHDB_SERVICE_URL}"/>

    <!-- turn off polling -->
    <config updateTrigger="mbean" />
    <applicationMonitor dropinsEnabled="false" updateTrigger="mbean"/>

    <logging traceSpecification="*=info:org.gameontext.*=all:org.gameontext.signed.*=warning"/>

    <!-- This is required to prevent the web apps from being lazily loaded -->
    <webContainer deferServletLoad="false"/>
    <!-- The JVM can get confused about available CPU in virtualized envs -->
    <executor coreThreads="5"/>

    <webApplication contextRoot="/map" id="map-app" location="map-app.war" />

    <jndiEntry jndiName="developmentMode" value="${env.GAMEON_MODE}"/>
    <jndiEntry jndiName="targetPlatform" value="${env.TARGET_PLATFORM}"/>
    <include location="${env.TARGET_PLATFORM}-config.xml" optional="true" />
    <include location="${env.TARGET_PLATFORM}-messageHub.xml" optional="true" />
</server>
